select {
      display: block;
    width: 100%;
    padding: 7px;
    font-size: 13px;
    color: #47525d;
    border: 1px solid rgba(37,40,43,0.1);
    border-radius: 3px;
    background-color: white;
    background-clip: padding-box;

      background-image: url('data:image/svg+xml;utf8,<svg width="7" height="14" viewBox="0 0 7 14" xmln…-.736-.36-.415-.81L2.922.337z" fill="#7B8994" fill-rule="evenodd"/></svg>');
  background-size: 7px 14px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 0;
  padding-right: 27px;
}
