/*
//=====
@name: "Typography"
@slug: base/typography
@description: [ ]
@usage: [
  <h1>h1. Heading</h1>
  <h2>h2. Heading</h2>
  <h3>h3-h6. Heading</h3>
  <hr>
  <h1 id="paragraph">Paragraph</h1>
  <p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est.
  Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec,
  gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. M
  aecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.</p>
]
=====//
*/


a {
  color: $ui-color-action;
  text-decoration: none;
  transition: color $base-duration $base-timing;
}

a:hover,
a.hover {
    color: $ui-color-action-hover;
    transition: color $base-duration $base-timing;
}

a:visited,
a.visited {
  // add a visited style to links, its good UX
  color: #555;
}

a:active,
a.active {

}

a:focus,
a.focus {

}



